.Queue {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  height: 100%;
  width: 100%;
}

.Queue__close {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 1000;
  padding: 1.5rem 0;
}

.Queue__list {
  margin: 1rem 0;
  overflow-y: auto;
}

.Queue__expandLess {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: none;
  background-color: white;
  cursor: pointer;
}
