
.Note {
      width: 15rem;
      margin : 0rem;
      border-radius: 0.25rem;
      border: 1px solid #000000;
      background-color :white;
}
.Note--urgent {
      width: 15rem;
      margin : 0rem;
      border-radius: 0.25rem;
      border: 1px solid #FF7878;
      background-color: #FFEFEF;
}

button {
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: white;
      border: 1px solid black;
      position: absolute;
      top: -1rem;
      right: -1rem;
}
